/* Style pour le titre de l'application */
#app-title {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background: rgb(231,241,255);
  background: linear-gradient(180deg, rgba(231,241,255,1) 0%, rgba(231,241,255,1) 32%, rgba(9,9,121,0) 100%);
  text-align: center;
}

.logo {
  margin-top: 10px;
    text-align: center;  /* Centrage du texte */
    height: 80px;
  }
  
  .home-block {
    margin-top: 110px; /* Ou la valeur que tu souhaites */
}


  #drop_zone {
   background-color: #FFFFEE; 
  }

  /* Style pour les boutons de l'accordéon */
.accordion-button {
    text-align: center;  /* Centrer le texte */
    font-weight: bold;  /* Texte en gras */
    color: #FFFFFF;  /* Couleur du texte en blanc */
    background-color: #007BFF;  /* Couleur de fond du bouton en bleu */
    border: none;  /* Retirer les bordures */
  }
  
  /* Style pour les boutons de l'accordéon lorsqu'ils sont cliqués ou survolés */
  .accordion-button:focus,
  .accordion-button:hover {
    color: #FFFFFF;  /* Couleur du texte en blanc */
    background-color: #0056b3;  /* Couleur de fond un peu plus foncée */
  }

  .documentation {
    width: 100%;
    background-color: #ffffee;
    margin: 0;
  }
  .export {
    text-align: center;
  }
  
  .export p {
    display: inline-block;
    margin-right: 100px;
  }
  
  #sendMailForm {
    display: inline-block;
  }
  
  #submitBtn {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
  }
  