
<div id="drop_zone" class="dropzone">
    <p>Déposez votre fichier CSV ici ou cliquez pour sélectionner un fichier.</p>
</div>
<form id="fileForm" action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" id="hiddenFileInput" name="file" accept=".csv" style="display: none;">
</form>