 <div class="documentation">
<div style="width: 80%; margin: 0 auto 0 auto; padding: 10px 0 10px 0";>
  <h2>Guide d'Utilisation de l'Application de Filtrage CSV</h2>

  <h3>À quoi sert cette application ?</h3>
  <p>
    Cette application vous permet d'importer un fichier CSV, de le filtrer selon divers critères, et de télécharger le résultat. C'est un outil parfait pour ceux qui ont besoin de travailler avec des données mais qui ne veulent pas utiliser des logiciels compliqués.
  </p>

  <h3>Comment l'utiliser ?</h3>

  <h4>Importer un fichier CSV :</h4>
  <p>
    Ouvrez la première section intitulée "Importer un fichier CSV".
    Vous pouvez glisser-déposer votre fichier CSV dans la zone prévue à cet effet ou cliquer pour sélectionner un fichier depuis votre ordinateur.
  </p>
  <h4>Filtrage des données :</h4>
  <p>
    Une fois le fichier importé, passez à la deuxième section intitulée "Filtre pour le fichier CSV importé".
    Vous verrez ici les données de votre fichier sous forme de tableau.
    Sous chaque colonne, vous aurez la possibilité de choisir des critères de filtrage. Vous pouvez décider de quelles colonnes inclure et spécifier des conditions pour filtrer les données.
    Après avoir défini vos critères, cliquez sur le bouton "Générer le fichier" pour appliquer les filtres.
  </p>

  <h4>Visualiser et Télécharger les données filtrées :</h4>
  <p>
    Vos données filtrées seront disponibles dans la troisième section intitulée "Fichier CSV filtré".
    Vous pouvez visualiser les données ici et également les télécharger en cliquant sur le lien "Télécharger".
  </p>
  <p>Et voilà ! Vous avez maintenant un fichier CSV filtré selon vos besoins. Simple et facile !</p>
</div>
</div>
